{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg8.jpg' %});">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="{% url 'home' %}">Home</a></span> 
          <span class="mr-2"><a href="index.html">Product</a></span> 
          <span>Product Single</span>
        </p>
        <h1 class="mb-0 bread">Product Single</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <!-- Product Images -->
      <div class="col-lg-6 mb-5 ftco-animate">
        <!-- Main Product Image -->
        <a href="{{ product.photo.url }}" class="image-popup">
          <img src="{{ product.photo.url }}" class="img-fluid" alt="Main Product Image">
        </a>

        <!-- Additional Product Images -->
        {% if product.images.all %}
        <div class="additional-images mt-3">
          <h5>Additional Images:</h5>
          <div class="row">
            {% for image in product.images.all %}
            <div class="col-4">
              <a href="{{ image.image.url }}" class="image-popup">
                <img src="{{ image.image.url }}" class="img-fluid" alt="Additional Product Image">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>

      
      <div class="col-lg-6 product-details pl-md-5 ftco-animate">
        <h3>NAME: {{ product.name }}</h3>
        <p>BRAND: {{ product.brand }}</p>
        
        <div class="rating d-flex">
          <p class="text-left mr-4">
            <a href="#" class="mr-2">5.0</a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
          </p>
          <p class="text-left mr-4">
            <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
          </p>
          <p class="text-left">
            <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
          </p>
        </div>

        <p class="price"><span>KES {{ product.price }}</span></p>

        
        <ul>
          {% for detail in product.details.splitlines %}
          <li>{{ detail }}</li>
          {% endfor %}
        </ul>

        <div class="row mt-4">
          <div class="col-md-6">
            <div class="form-group d-flex">
              <div class="select-wrap"></div>
            </div>
          </div>
        </div>

        
        <form action="{% url 'add_to_cart' product.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" class="form-control" value="1" min="1">
          </div>
          <p><button type="submit" class="btn btn-black py-3 px-5">Add to Cart</button></p>
        </form>

      </div>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Products</span>
        <h2 class="mb-4">Related Products</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for rel_product in related_products %}
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="{% url 'product-details' rel_product.id %}" class="img-prod">
            <img class="img-fluid" src="{{ rel_product.photo.url }}" alt="Related Product Image">
            <span class="status">10%</span>
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="{% url 'product-details' rel_product.id %}">{{ rel_product.name }}</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span class="mr-2 price-dc">KES {{ rel_product.new_price }}</span><span class="price-sale">KES {{ rel_product.price }}</span></p>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="ion-ios-menu"></i></span>
                </a>
                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                  <span><i class="ion-ios-cart"></i></span>
                </a>
                <a href="#" class="heart d-flex justify-content-center align-items-center">
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px;" class="mb-0">Subscribe to our Newsletter</h2>
        <span>Get e-mail updates about our latest shops and special offers</span>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input type="text" class="form-control" placeholder="Enter email address">
            <input type="submit" value="Subscribe" class="submit px-3">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    var quantity = 0;
    $('.quantity-right-plus').click(function(e) {
      e.preventDefault();
      var quantity = parseInt($('#quantity').val());
      $('#quantity').val(quantity + 1);
    });
    $('.quantity-left-minus').click(function(e) {
      e.preventDefault();
      var quantity = parseInt($('#quantity').val());
      if (quantity > 0) {
        $('#quantity').val(quantity - 1);
      }
    });
  });
</script>
{% endblock %}
