<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <style>
    body {
        font-family: Georgia, sans-serif;
        line-height: 2.0;
        margin: 20px;
        font-size: 1.5em;
        color: #333;
    }
    h1, h2, h3 {
        color: #0056b3;
        text-align: center;
        font-size: 2 em; 
    }
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
    .section {
        margin-bottom: 20px;
    }
</style>

</head>
<body>

    <h1> </h1>

    <div class="section">
        <h2>Privacy Policy</h2>
        <p>Sparktech values the trust that our customers, associates, representatives, and service providers place in us when they give us personal information. We believe that privacy is more than an issue of compliance and endeavor to manage personal information in accordance with our core value of respect for the individual. In this statement, we explain which information is collected during your visit to our website (<a href="https://www.sparktech.co.ke">www.sparktech.co.ke</a>), how we use this information and for what purpose, and who we share it with.</p>
    </div>

    <div class="section">
        <h2>The Information We Collect</h2>
        <p>In most cases, you are able to browse through our website without providing any personally identifiable information. However, we may collect or receive the categories of personal information listed below, which may depend on the products or services you may use. Kindly note that NOT all categories of personal information will be collected or received about every individual.</p>
        <ul>
            <li>Basic Personal Identifiers, such as name, telephone number, physical address, email address, and National Identification number.</li>
            <li>Device and Online Identifiers, such as account login information.</li>
            <li>Internet and Other Network Activity Information, such as information about your browsing or search activity as well as your interactions with our website.</li>
            <li>Commercial Information, such as purchase and transaction history information, product reviews, travel and vacation information, and sweepstakes and contest entries.</li>
            <li>Financial Information, such as credit or debit card numbers and financial account numbers.</li>
            <li>Inferences: Individual preferences and characteristics, such as inferences drawn from and related to shopping patterns and behaviors.</li>
        </ul>
    </div>

    <div class="section">
        <h2>Cookies and Web Beacons</h2>
        <p>A “cookie” is a small data file stored by your web browser on the hard drive of your computer. Pages of our website and our e-mails may also contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs). We use cookies and web beacons to collect non-personally identifiable information about users of the site, including: browser used to access the site, date and time, browser window size, the geographic location of the user, device, and operating system used to access the site. The information we collect from these cookies and web beacons is used to determine information about a user’s visit to our site, including the number of visits, average time spent, pages viewed, navigation history through the website, and other statistics. This information is used to enhance the user's experience while visiting our site and to improve the performance.</p>
    </div>

    <div class="section">
        <h2>How We Use the Information We Collect</h2>
        <p>We use personal information to provide you with products and services and to operate and improve our website in the following ways:</p>
        <ul>
            <li>Performing services, including maintaining or servicing accounts, providing customer service, processing or fulfilling orders and transactions, verifying customer information, processing payments, providing financing, providing analytics services, providing storage, or providing similar services.</li>
            <li>To conduct auditing and monitoring of transactions and engagement, including auditing related to counting ad impressions to unique visitors, verifying positioning and quality of ad impressions, and auditing compliance.</li>
            <li>Helping to ensure security and integrity and prevent fraud.</li>
            <li>Undertaking activities to verify or maintain the quality or safety of our services or devices and to improve, upgrade, or enhance them.</li>
            <li>Debugging to identify and repair errors.</li>
            <li>Conducting business analysis, such as analytics, projections, and identifying areas for operational improvement.</li>
            <li>Conducting research and development, including undertaking internal research for technological development and demonstration.</li>
            <li>Fulfilling our legal functions or obligations.</li>
        </ul>
    </div>

    <div class="section">
        <h2>Data Security</h2>
        <p>We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. All information you provide to us is stored on our secure servers behind firewalls. Any payment transactions will be encrypted using SSL technology. The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of our website, you are responsible for keeping this password confidential. We ask you not to share your password with anyone.</p>
    </div>

    <div class="section">
        <h2>How and When We Share Your Data</h2>
        <p>Sparktech may share your personal information with third parties for the following reasons:</p>
        <ul>
            <li>Sale and delivery of products: For the swift delivery of products and services purchased on our website via third parties such as G4S courier, we may be required to provide your personal data to such third parties.</li>
            <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Sparktech’s assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by Sparktech about our website users is among the assets transferred.</li>
            <li>Working with third-party service providers: We engage third parties to perform certain functions on our behalf. Examples include fulfilling orders for products or services, delivering packages, analyzing data, providing marketing assistance, processing payments, transmitting content, assessing and managing credit risk, and providing customer service.</li>
            <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Sparktech, our customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</li>
            <li>To comply with any court order, law, or legal process, including responding to any government or regulatory request.</li>
        </ul>
        <p>Sparktech’s main goal is to provide high-quality products and services. In order to achieve this, we heavily rely on information from our clients and other parties. We are committed to ensuring your personal information is handled in a safe, responsible, and secure manner. By using this website, you accept the policies in this statement.</p>
    </div>

</body>
</html>
