<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <style>
    body {
        font-family: Georgia, sans-serif;
        line-height: 2.0;
        margin: 20px;
        font-size: 1.5em;
        color: #333;
    }
    h1, h2, h3 {
        color: #0056b3;
        text-align: center;
        font-size: 2 em; 
    }
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
    .section {
        margin-bottom: 20px;
    }
</style>
</head>
<body>
    <h1>Return and Exchange Policy</h1>
    <p>Thank you for shopping with Sparktech. We are committed to providing high quality goods and services to our clients as they deserve. We strive to be your trusted partner in technology, offering all our products at highly competitive prices. In cases when you are not completely satisfied with your purchase, we offer options for exchange and return.</p>
    <p>We are dedicated to providing a 100% return and exchange policy under the following conditions:</p>
    <ul>
        <li>The product must be unwashed, unused, and in perfect condition.</li>
        <li>The product should include its original tags, accessories, user manual, warranty card, and any freebies.</li>
        <li>The product must be returned in its original, undamaged packaging.</li>
    </ul>
    <p>We give a 48-hour period within which you can exchange or return your product subject to the above conditions. After this period lapses, we return the product back to the manufacturer or their respective service centers since the product is under warranty.</p>
    <h2>Reasons for Return</h2>
    <ul>
        <li>The product is damaged, broken, or malfunctioning.</li>
        <li>An incorrect or incomplete product was delivered.</li>
    </ul>
    <h2>Shipping Cost</h2>
    <p>The shipping cost for the return of any product will be incurred by the client. Even in cases where the product was delivered for free, the client will be responsible for all the return shipping costs.</p>
    <h2>Your Consent</h2>
    <p>By making a purchase at Sparktech (<a href="https://www.sparktech.co.ke">https://www.sparktech.co.ke</a>) you hereby consent to our Return & Refund Policy and agree to its terms.</p>
    <div class="contact">
        <h2>Contact Us</h2>
        <p>Email: <a href="mailto:admin@sparktecth.co.ke">admin@sparktecth.co.ke</a></p>
        <p>Phone: 0793009411</p>
        <p>Email: <a href="mailto:Sparktechorders@gmail.com">Sparktechorders@gmail.com</a></p>
    </div>
</body>
</html>
